.Menu {
  list-style: none;
  margin: o;
  padding: 0;
}
.Menu a:active {
  background-color: black;
  color: grey;
}

li {
  display: inline;
}
li a {
  color: black;
}
body {
  background-color: teal;
}
.wrapper {
  width: 70vw;
  margin: 16px auto;
  padding: 16px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8);
}
.header1 {
  color: darkgrey;
  text-shadow: black;
  -moz-text-size-adjust: 20px;
}
.header2 {
  color: white;
  text-shadow: black;
}
.table th,
td {
  border: 1px solid black;
  background-color: orangered;
}
